#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: fit-content;
  background-color: #f2f5f9;
  display: flex;
  justify-content: center;
}
.darkTheme {
  #root {
    background-color: #1a1a1a;
  }
}
