@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom font classes */
@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
  }

  .delay-1s {
    animation-delay: 1s;
  }

  .delay-2s {
    animation-delay: 2s;
  }
}
